.wrapper{
    background-color: #131928;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.notification-container {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
   }

.notification-box {
    background-color: #292d3b;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px; 
    transition: background-color 0.3s ease;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    font-weight: 450; 
}



.notification-box button {
    background: none; 
    border: none; 
    color: white; 
    cursor: pointer; 
    font-size: 16px; 
    padding: 0; 
}

.notification-box:hover {
    background-color: #5f5757;
}

.p1 {
 top: 0;
 left: 0;
 align-items: flex-start;
 margin-top: 60px; 
}

.p2 {
 top: 0;
 right: 0;
 align-items: flex-end;
 margin-top: 60px; 
}

.p3 {
 position: absolute;
 bottom: 0;
 left: 0;
 align-items: flex-start;
 flex-direction: column-reverse;
 margin-bottom: 60px; 
}

.p4 {
 position: absolute;
 bottom: 0;
 right: 0;
 align-items: flex-end;
 flex-direction: column-reverse;
 margin-bottom: 60px; 
}